<?xml version="1.0"?>

<robot xmlns:xacro="http://ros.org/wiki/xacro" name="migbot1">
  <xacro:arg name="planar_move_enabled" default="true" />
  <xacro:arg name="planar_lidar_enabled" default="false" />
  <xacro:arg name="livox_enabled" default="false" />
  <xacro:arg name="ping360_enabled" default="false" />
  <xacro:arg name="realsensed435_enabled" default="false" />  
  <xacro:arg name="robot_name" default="migbot1"/>
  <xacro:arg name="ardupilot" default="false"/>

  <xacro:arg name="namespace" default=""/>     
  <xacro:arg name="ping360_imaging_enabled" default=""/>       
  <xacro:property name="namespace" value="$(arg namespace)" scope="global" />    
  <xacro:property name="ardupilot" value="$(arg ardupilot)" scope="global" />     
  <xacro:property name="robot_name" value="$(arg robot_name)" scope="global"/>

  

  <xacro:include filename="$(find migbot_gazebo)/urdf/migbot_gazebo.xacro"/> 
  

    <!-- Add MID-70 LIDAR --> 
    <xacro:if value="$(arg livox_enabled)">
        <xacro:Livox_Mid70_mount name="livox" />
    </xacro:if> 
    
    <!-- Add ping360 SONAR --> 
    <xacro:if value="$(arg ping360_enabled)">
        <xacro:ping360_mount name="ping360" ping360_imaging_enabled="$(arg ping360_imaging_enabled)"/>
    </xacro:if> 
    
    <!-- Add realsense --> 
    <xacro:if value="$(arg realsensed435_enabled)">
        <xacro:realsensed435_mount
	    parent_link ="base_link"
	    name ="realsense"
	    x ="0.65" y ="0.0" z ="0.650"
	    roll ="0" pitch ="0" yaw ="0"
	    prefix ="realsense"/>
    </xacro:if>          


    <!-- Add 2D Planar LIDAR --> 
    <xacro:if value="$(arg planar_lidar_enabled)">
        <xacro:planar_lidar_mount name="laser" topic="/scan" />
    </xacro:if> 

    <!-- Planar Movement Plugin (for reliable non-holonomic boat control via /cmd_vel) -->
    <xacro:if value="$(arg planar_move_enabled)">
      <gazebo>
        <plugin name="planar_move" filename="libgazebo_ros_planar_move.so">
          <commandTopic>/cmd_vel</commandTopic>
          <odometryTopic>/odom</odometryTopic>
          <odometryFrame>odom</odometryFrame>
          <odometryRate>30.0</odometryRate>
          <robotBaseFrame>base_link</robotBaseFrame>
          <enableYAxis>false</enableYAxis>
        </plugin>
      </gazebo>
    </xacro:if>

</robot>
