<?xml version="1.0"?>
<robot xmlns:xacro="http://ros.org/wiki/xacro">
  <!-- Include macros for dynamics plugins -->
  <xacro:include filename="$(find migbot_gazebo)/urdf/macros_migbot_scaled.xacro" /> 
    <!-- Defines the base vehicle -->
  <xacro:include filename="$(find migbot_description)/urdf/migbot1_ardupilot_scaled.urdf.xacro" />
  <!-- </xacro:macro> -->
</robot>
